// Global Styles

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

// Main Styles

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;


    i {
        width: 3rem;
        height: 3rem; 
        position: absolute;
        border: 2px solid slateblue;

        &:nth-child(1) { 
            animation: borderAnimation 2s ease-in-out forwards infinite;
        }
        
        &:nth-child(2) {
            border-color: tomato;
            animation: borderAnimation -3s 2s ease-in-out forwards infinite;
        }
    }
}

@keyframes borderAnimation {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }
}